.nav-bar {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    background: #123;
    height: 50px;
}

.nav-bar__logo {
    margin-left: 1em;
    flex: 1;
    text-align: left;
    align-self: center;
}

.nav-bar li {
    min-width: 100px;
    float: left;
    text-align: center;
    display: flex;
}

.nav-bar li a, .nav-bar__logo a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    margin: auto 0;
    width: 100%;
}

@media(max-width: 768px) {
    .nav-bar__items {
        display: none;
    }
}

@media(min-width: 769px) {
    .toggle-button {
        display: none;
    }
}