.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    align-self: center;
    margin-left: 1rem;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 3px;
    background: #e3e3e3
}