.side-drawer {
  height: 100vh;
  position: fixed;
  top: 50px;
  left: 0;
  width: 70%;
  max-width: 300px;
  background: white;
  box-shadow: 3px 0 25px -5px #888888;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  box-sizing: border-box;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer a {
  display: block;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  color: var(--grey-900);
  text-decoration: none;
}

.side-drawer a:hover {
  background: var(--vivid-100);
}

.side-drawer a.active {
  background: var(--vivid-100);
  font-weight: bold;
}
